.modal{
    width: 518px;
    height: 252px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    z-index: 10;

    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 22px;
        border-radius: 5px;
    }

    &.crimson {
        background-color: #e74c3c;
        .header {
            background-color: #d44637;
        }
    }

    &.deepskyblue {
        background-color: deepskyblue;
        .header {
            background-color: rgb(4, 155, 206);
        }
    }
}



.title_header{
    margin: 0;
    padding: 20px;
    font-weight: 500;
}
.modal_btn{
    width: 100px;
    height: 40px;
    margin: 10px;

    .crimson & {
        background-color: #b3382c;
    }

    .deepskyblue & {
        background-color: rgb(2, 114, 152);
    }
}

.modal_text{
    width: 435px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 30px;
    margin-top: 25px;
}

.chrest{
    border: none;
    color: white;
    font-size: 27px;
    cursor: pointer;

    
    .crimson & {
        background-color:  #d44637;
    }

    .deepskyblue & {
        background-color: rgb(4, 155, 206);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }